* {
  margin: 0;
  padding: 0; }

html {
  color: #717d7d; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var, optgroup {
  font-style: inherit;
  font-weight: inherit; }

del, ins {
  text-decoration: none; }

li {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ""; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup, sub {
  vertical-align: baseline; }

/*because legend doesn't inherit in IE */
legend {
  color: black; }

input, button, textarea, select, optgroup, option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit; }

/*@purpose To enable resizing for IE */
/*@branch For IE6-Win, IE7-Win */
input, button, textarea, select {
  *font-size: 100%; }

h1 {
  font-size: 138.5%; }

h2 {
  font-size: 123.1%; }

h3 {
  font-size: 108%; }

h1, h2, h3 {
  margin: 1em 0; }

h1, h2, h3, h4, h5, h6, strong {
  font-weight: bold; }

abbr, acronym {
  border-bottom: 1px dotted black;
  cursor: help; }

em {
  font-style: italic; }

blockquote, ul, ol, dl {
  margin: 1em; }

ol, ul, dl {
  margin-left: 2em; }

ol li {
  list-style: decimal outside; }

ul li {
  list-style: disc outside; }

dl dd {
  margin-left: 1em; }

th, td {
  border: 1px solid black;
  padding: 0.5em; }

th {
  font-weight: bold;
  text-align: center; }

caption {
  margin-bottom: 0.5em;
  text-align: center; }

p, fieldset, table {
  margin-bottom: 1em; }

body {
  background: #d1c1a7;
  font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif; }

a {
  color: #333333;
  text-decoration: none; }
  a:hover {
    color: #4f0b03; }

#container {
  background: white;
  width: 980px;
  margin: 0 auto 0;
  overflow: auto; }

#header {
  clear: both;
  height: 80px;
  border-top: 5px solid #4f0b02; }
  #header .logo {
    float: right;
    margin: 0 40px 0 0; }
  #header #menu {
    float: left;
    margin: 30px 0 0 20px; }
    #header #menu ul {
      margin: 0;
      padding: 0; }
    #header #menu li {
      padding: 0;
      display: inline; }
    #header #menu a {
      font-size: 14px;
      color: #333333;
      padding: 10px 12px; }
      #header #menu a:hover {
        background: #eeeeee;
        border-radius: 15px;
        -moz-border-radius: 15px; }
    #header #menu a.active {
      background: #4f0b03;
      color: white;
      border-radius: 15px;
      -moz-border-radius: 15px; }

#content {
  margin: 20px; }
  #content #slideshow {
    width: 900px;
    height: 600px;
    margin: 0 auto 50px;
    position: relative; }
    #content #slideshow img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 8;
      opacity: 0; }
    #content #slideshow img.active {
      z-index: 10;
      opacity: 1; }
    #content #slideshow img.last-active {
      z-index: 9; }
  #content .testimonial {
    margin: 1em; }

#footer {
  width: 980px;
  background: url(../../images/footer.png);
  height: 100px;
  margin: 0 auto 50px;
  color: white; }
  #footer ul {
    float: right;
    margin: 10px 0 0; }
  #footer li {
    padding: 0 0 0 15px;
    display: inline; }
