%h2 Customer testimonials

- for testimonial in @testimonials
  - div_for(testimonial) do
    %em= testimonial.quote
    %br
    %strong= testimonial.from
    %br
    %strong= testimonial.date.strftime("%b %Y")