!!! 5
%html{ :lang => "en-US", "xml:lang" => "en-US", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ 'http-equiv' => "content-type", :content => "text/html; charset=utf-8" }
    %meta{ :name => "Author", :content => "Raugstad Inc" }
    %meta{ :name => "viewport", :content => "width=1024" }
    %title= 'Welcome to Raugstad Inc | Deerfield, IL | 1-847-945-0995 | ' + @title ||= "Thanks for Visiting!"
    %meta{ :name => "Keywords", :content => "Raugstad Inc" }
    %meta{ :name => "Description", :content => "Raugstad Inc"}
    = stylesheet_link_tag 'frontend/all'
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"
  %body
    #content
      = yield